/*  3 Selector : tagname, classname and identityname*/
        /* Tag Name*/
        h4{
            color: bisque;
            background-color: black;
            height: 70px;
            
        }
        /* ID Name*/
        #a1{
            color: cadetblue;
            background-color: brown;
            height: 20px;
        }
        /* Class Name*/
        .a2{
            color: rgb(134, 54, 239);
            background-color: chocolate;
            height: 20px;
        }